.detailHeroWrap{
    position: relative;
    min-height: 400px;
    text-align: center;
    color: white;
}

.centered {
    font-family: 'Proxima-Nova-Bold';
    text-transform: uppercase;
    position: absolute;
    font-size: 3vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  }
  .overlay {
    position: absolute;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  .detailHeroImageWrap {
    position: relative;
    width: 100vw;
    height: 400px;
  }
  .detailHeroImage {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
  @media (max-width: 768px){
    .centered {
      font-size: 7vw;
    }
  }