@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}
body {
  background: #fff;
  margin: 0;
  font-family: 'Roboto';
  font-size: 1.5em;  
  overflow: hidden;
}
.layout {
  display: flex;
  flex-direction: column;
  max-width: 100% !important;
  overflow-x:unset;
  
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #14274E;
  padding: .5em 1em .5em 1em;
}
header a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  display: inline-block;
}
header h1, header h2 {
  margin: 0;
}
header span {
  display: block;
  line-height: 0em;
  font-family: 'Proxima-Nova-Thin';
}
span.siteTitle{
  display: inline-flex;
}
span.site-title-bold{
  font-family: 'Proxima-Nova-Bold';
}
header h2 {
  font-size: 1em;
  font-weight: 400;
}
footer {
  background: #fff;
  color: #bbb;
  padding: 40px;
  text-align: center;
  margin-top: auto
}
.page-content {
  width: 100%;
  box-sizing: border-box;

}
.navLink {
  font-family: 'Proxima-Nova-Bold';
  color: rgba(255, 255, 255, 0.3);
  font-size: small;
  margin: 20px;
}
.navLink.active{
  color: #fff;
  font-size: small;
  margin: 20px;
}
.navLink:hover{
  color: #fff;
}


.linkWrap{
  margin-bottom: 1em;
}

.siteTitle{
  color: #fff;
}
.sectionTitle{
  font-family: 'Proxima-Nova-Bold';
  margin-bottom: 1.3em;
  font-size: 1.70em;
}
.aboutMe{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.hamburgerWrap{
  display: none;
}
.mobileMainNav{
  display: none;
}

@media (max-width: 768px){
  .mobileMainNav .navLink {
    font-family: 'Proxima-Nova-Bold';
    font-size: 1em;
  }
  .mobileMainNav .navLink .active{
    font-size: 1em;
    
  }
  .mobileMainNav .navLink:hover{
    color: #fff;
  }
  .hamburgerWrap{
    display: block;
    margin-left: 1vw;
  }
  .closeWrap{
    display: block;
    margin-left: 1vw;
  }
  .mainNav{
    display: flex;
    flex-direction: column;
    display: none;
  }
  .mobileMainNav{
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #14274E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 73px;
  }
}

