.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cardWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sectionHeading{
    margin: 50px;
}
.cards{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: 20%;
    margin-left: 20%;
}
@media (max-width: 768px){
    .cards{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
.aboutMe{
    display: flex;
    justify-content: center;
}