.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contentWrap{
    display: flex;
    flex-direction: row;

}
.cardWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sectionHeading{
    margin: 50px;
}
.cards{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.rail{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.titleWrap{
    display: flex;
    justify-content: start;
    width: 100%;
}
.homepageCardsWrap{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: -10px 0px;
}
.aboutMe{
    display: flex;
    justify-content: center;
}
.cardsList{
    display: flex;
    width: 95%;
    list-style: none;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.cardsList::-webkit-scrollbar {
    display: none;
  }

.twitterWrapper{
    margin-top: 120px;
}
@media (max-width: 1024px){
    .main{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .rail{
        display: none;
    }
    .titleWrap{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
@media (max-width: 768px){
    .cards{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .cardWrap{
      margin-top: 8vw;
    }
    .homepageCardsWrap{
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .cardsList{
        margin-top: 5px;
        width: 34%;
    }
}
