.card {
    width: 16vw;
    margin-right: 3vw;
  }
  .info {
    padding: 16px;
  }
  .info h4 {
    margin: 4px 0;
  }
  .actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  .actions a {
    color: #fff;
    background: #f01b29;
    padding: 16px 24px;
    text-decoration: none;
  }
  .featuredImage{
    border-radius: 20px;
  }
  h4.cardTitle{
    font-family: 'Proxima-Nova-Bold';
    cursor: pointer;
    font-size: 1em;
  }
  h4.cardTitle{
    font-family: 'Proxima-Nova-Bold';
    cursor: pointer;
    color: #14274E;
  }
  h4.cardTitle:hover{
    color: #A6A6A6;
  }
  p.cardDescription{
    font-size: 20px;
    font-family: 'AvenirNext';
    margin-top: 10px;
  }
  @media (max-width: 1024px){
    .card{
      width: 27vw;
    }
    
  }
  @media (max-width: 768px){
    .card{
      width: 70vw;
      margin-left: 0px;
      margin-top: 0px;
    }
}
